.booking-room-name {
    background-color: #fafaeb;
    height: 60px;
    font-size: 30px;
    justify-content: center;
    align-content: center;
    color: #64463c;

}

.booking-room-info {
    background-color: white;
    border: 0.3px solid lightgrey;
    display: flex;
    width: 70%;
    position: relative;
    margin: auto;
    justify-content: space-around;
    align-content: center;
    line-height: 10px;
    color: #64463c;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}

.booking-center {
    height: fit-content;
    align-items: center;
    max-width: 1400px;
    justify-content: center;
    margin: auto;
    flex-direction: row;
}

.booking-room-info-content {
    border-right: 0.5px solid lightgrey;
    flex: 1;
}

.booking-img {
    width: 80%;
    height: 20vw;
    background-size: cover;
    background-position: center;
    justify-self: center;
}

.menu-container {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    justify-content: center;
    margin: 20px auto;
}

.radio-div {
    padding: 10px;
    border: 1px solid #ccc;
    background: #724f437e;
    border-radius: 4px;
    margin: 5px 0;
    width: 30%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.radio-div.selected {
    background-color: #64463c;
    color: #fff;
    border-color: #724f43;
}

.booking-decore-container {
    display: inline-flex;
}

.booking-link {
    color: rgb(195, 0, 255) !important;
    background-color: #fafaeb;
}

.booking-decore-container {
    display: inline-flex;
}

.booking-link {
    color: rgb(195, 0, 255) !important;
    background-color: #fafaeb;
}
